.o-cardContent {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 0;
  padding: 0;
  width: 100%;
  height: 94%;
  overflow: hidden;
}

.o-contentTittle {
  display: flex;
  flex-direction: row;
  margin: 0;
  line-height: 1.4rem;
}

.o-contentTittle-principal {
  margin: 0 1rem 0 0;
  font-weight: bold;
  font-size: 1.2em;
}

.o-contentTittle-sub {
  margin: 0.15rem 1rem 0 0;
  text-align: start;
  font-weight: 400;
  font-size: 0.9em;
  color: #ff0000;
}

.o-contentTittle-sub2 {
  margin: 0.15rem 1rem 0 0;
  text-align: start;
  font-weight: 400;
  font-size: 1em;
}

.o-text-nameOrg {
  display: flex;
  margin: 0.15rem 0 0 auto;
}

.o-contentForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0;
  width: 28%;
}

.o-contentForm-big {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem 0;
  height: 83%;
  overflow: hidden;
}

.o-dobleInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.o-selectShort {
  width: 8rem;
  text-align: start;
}

.o-inputShort {
  margin: 0 0 0 0.8rem;
  width: 100%;
}

.o-space {
  margin: 0;
  width: 100%;
  text-align: start;
}

.o-inSearch {
  display: flex;
  margin: 1rem 1rem 1rem 2rem;
  width: 60%;
  text-align: start;
}

.o-space-tf {
  display: flex;
  margin: 0;
  width: 100%;
}

.o-chips {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.o-chip {
  height: 1rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}

.o-btnBotNav {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  justify-content: space-between;
  text-decoration: none;
}

.o-btnBotNavDoble {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 14.5rem;
}

.o-btnBotNav-btn {
  display: flex;
  width: 7rem;
  height: 2.5rem;
  text-decoration: none;
}

.o-tableBase {
  display: flex;
  width: 100%;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
}

.o-tableBase-files {
  display: flex;
  width: 100%;
  min-height: 0;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
}

.o-tableBaseCon {
  display: flex;
  width: 100%;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
}

.o-tableContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-right: auto;
}

.o-btnAnadirTable {
  display: flex;
  width: 7rem;
  height: 2.5rem;
  margin-top: 0.8rem;
  margin-left: auto;
}

.o-diagContent {
  width: 50rem;
}

.o-diagSubTittle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0.2rem;
}

.o-diagSubTittle2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0 0.2rem;
}

.o-row {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  font-size: 1rem;
}

.o-diagTittle-sub {
  margin: 0.2rem 1rem;
  font-weight: 400;
  color: #ff0000;
}

.o-contentFormDiag {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  width: 37%;
}

.o-btnBotNav-btnDiag {
  display: flex;
  width: 7rem;
  height: 2.5rem;
  text-decoration: none;
  margin: 1rem 0;
}

.o-btnBotNav-btnDiag2 {
  display: flex;
  width: 7rem;
  height: 2.5rem;
  text-decoration: none;
  margin: 1rem 1rem;
}

.o-btnBotNav-btnDiag3 {
  display: flex;
  width: 7rem;
  height: 2.5rem;
  text-decoration: none;
  margin: 1rem 0 0.5rem;
}

.o-tinyBtn {
  margin: 0rem;
}

.o-emptyTable {
  margin: 1rem;
  color: #8b8b8b;
}

.o-innerSubTittle {
  font-weight: 400;
  font-size: 1rem;
  margin: 0.5rem auto 0.2rem 0;
}

.o-innerSubTittle2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0.8rem auto 0.2rem 0;
}

.o-textBtn {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-size: 1rem;
  margin-top: 0.4rem;
}

.o-inner-textBtn {
  display: flex;
  width: 45%;
  text-align: left;
  margin-right: 1rem;
  padding-left: 0.2rem;
}

.o-inner-testBtnbtn {
  display: flex;
  width: 50%;
}

.o-consultas-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0 0.8rem 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.o-consultas-containerInit {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 -0.5rem 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.o-consultas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.3rem 1rem 0 0;
  width: 28%;
  max-width: 28%;
}

.o-consultas-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.o-btnConsultas {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  margin: 0.8rem 0.6rem 0 0;
}

.o-contentForm-big-consultas {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.o-contentForm-big-consultasHalf {
  display: flex;
  padding-top: 1.5rem;
  width: 69.2%;
}

.o-tableBase-consultas {
  display: flex;
  width: 100%;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
}

.o-textMain {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: large;
  height: 4.5rem;
  margin: 0.7rem 0 0.2rem;
}

.o-textSub {
  color: gray;
}

.o-consultas-containerMenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  margin-bottom: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
}

.o-consultasMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.3rem 2rem 0 0;
  width: auto;
  max-width: 23%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.o-btnMenu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.o-btnEditMenu {
  display: flex;
  text-decoration: none;
  width: 11rem;
  height: 2.5rem;
  margin-top: 1.2rem;
  margin-right: 1.2rem;
}

.o-container-reporteFecha {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.3rem 1rem 0 0;
  width: auto;
}

.o-container-reporteFechaLast {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.3rem 0 0;
  width: auto;
}

.o-datepicker {
  border-radius: 5px;
  border: 1px solid lightgray;
  overflow: hidden;
}

.o-diag-contactExist-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50rem;
  height: 100%;
  margin: 0;
  padding: 0 1rem 0;
}

.o-diag-contactExist-column {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 1rem;
}

.o-card-VisitaView {
  display: flex;
  border-radius: 5px;
  margin: 4rem 0 0 1rem;
  width: 24.6%;
  border: 1px solid #3e3e3e;
  padding: 0.5rem 1rem;
  overflow: hidden;
}

.o-textMain2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: start;
  font-size: 0.9em;
  margin: 0 0 1rem 0;
}

.o-textSub2 {
  margin-bottom: 0.3rem;
  color: gray;
}
