.o-diag-content {
  width: 20rem;
}

.o-space-tf {
  display: flex;
  margin: 0 0 0.5rem 0;
  width: 100%;
}

.o-chips {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.o-chip {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
